{#
/**
 * @file
 * Default theme implementation to display an Expense record.
 *
 * Available variables:
 * - expense: The entity.
 * - content: The rendered entity field. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.state }}. Use
 *   {{ content|without('state') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_records_expense()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'expense',
    'expense--type-' ~ expense.bundle|clean_class,
    view_mode ? 'expense--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('expense__content') }}>
    {{ content }}
  </div>
</article>
